.content {
  position: relative;
  z-index: 1;
}

h1 {
  color: #047bf3;
}

a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

a:hover {
  text-decoration: none;
}

.copy-icon {
  cursor: pointer;
  margin-left: 10px;
  color: #91a3ff;
  font-size: 18px;
  vertical-align: middle;
}

.copy-icon:hover {
  color: #445193;
}

.copy-icon.fa-check {
  color: #28a745;
}