<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

    <!-- For the 'Roboto' font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <title>URL Shortener</title>
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <!-- This is the background image -->
    <img class="wave-background" src="{{ url_for('static', filename='images/background.svg') }}" alt="Wave Background">
    <!-- This is the actual content, buttons, etc -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>